.mat-card {
  border: solid 1px black;
}

.mat-card-header.list-header {
  border-bottom: solid 1px black;
  justify-content: center;
}

.mat-card-actions.list-actions {
  border-top: solid 1px black;
}

.mat-card-content {
  padding-top: 10px;
  display: flex;
  justify-content: center
}

.mat-list {
  overflow: auto;
}

.mat-list-item {
  cursor: pointer;
}

.mat-list-item:hover {
  background-color: lightgray;
}

.mat-list-item:active { // only active when clicking
  background-color: gray;
}

.selected-item {
  background-color: gray;
}

.not-selected-item {
  background-color: white;
}

.icon {
  font-size: 48px;
}
