.mat-card {
  border: solid 1px black;
}

.mat-card-header.list-header {
  border-bottom: solid 1px black;
}

.mat-card-actions.list-actions {
  border-top: solid 1px black;
}

.mat-card-content {
  padding-top: 10px;
}
