<div>

  <h1>Transaktioner</h1>


  <div>
    <mat-form-field appearance="fill" class="datepicker">
      <mat-label>Vælg et datointerval</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="customertype-select">
      <mat-label>Kundetype</mat-label>
      <mat-select>
        <mat-option>Alle</mat-option>
        <mat-option *ngFor="let customerType of customerTypeList" [value]="customerType.value">
          {{customerType.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="search">
      <input matInput type="text" [(ngModel)]="searchValue" (input)="searchForTransactions(searchValue)" placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div *ngIf="dataSource">
  <mat-table [dataSource]="dataSource.items" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="license plate">
      <mat-header-cell *matHeaderCellDef> License Plate </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.licensePlate.licensePlate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="wash type">
      <mat-header-cell *matHeaderCellDef> Wash Type </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.washType.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.licensePlate.customer.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.location.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <mat-header-cell *matHeaderCellDef> Time Stamp </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{getDateWithFormat(transaction.timestamp)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="customer type">
      <mat-header-cell *matHeaderCellDef> Customer Type </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.licensePlate.customer.subscription.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.washType.price}} kr. </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

      <mat-paginator [length]="dataSource.meta.totalItems"
                 [pageSize]="dataSource.meta.itemsPerPage"
                 showFirstLastButtons
                 (page)="pageEvent = $event; onPaginateChange($event)">
      </mat-paginator>
  </div>


</div>
