h1 {
  padding-top: 20px;
}

.customertype-select {
  padding-left: 2%;
  width: 15%;
}

.search {
  padding-left: 2%;
  width: 15%;
}

.mat-table {
  text-align: left;
  vertical-align: middle;
  width: 100%;
  border: 1px solid #e0e0e0;
  overflow: auto;
}



