h1 {
  padding-top: 20px;
}

.customer-list {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 20px;
}

.mat-table {
  text-align: left;
  vertical-align: middle;
  width: 100%;
  border: 1px solid #e0e0e0;
}

.mat-header-cell {
  width: 20%;
  background: #eeeeee;
  border-bottom-color: #9e9e9e;
  font-size: 15px;
}

.mat-cell {
  width: 20%;
  border-bottom-color: #e0e0e0;
  font-size: 14px;
}

.mat-row:hover {
  background-color: #fafafa;
}


.status-select {
  width: 15%;
  margin-left: 2%;
}

.customertype-select {
  padding-left: 2%;
  width: 15%;
}

.search {
  padding-left: 5%;
  width: 20%;
}

.filter-area {
  width: 55%;
  height: 50px;
  display: flex;
  margin-left: auto;
  margin-bottom: 20px;
}

.transaction-button {
  width: 20%;
  margin-left: 5%;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
}

.status-button {
  width: 15%;
  margin-left: 2%;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
}

